<div class="footer">
   <div class="row">
       <div class="col copyright">
            Copyright © 2019. All rights reserved. 
       </div>
       <div class="col copyright">
           <div class="row remaining_items">
                <div class="col offset-md-9">
                    <i class='facebook fab fa-facebook'></i>
                </div>
                <div class="col">
                    <i class='twitter fab fa-twitter'></i> 
                </div>
                <div class="col">
                    <i class='linkedin fab fa-linkedin'></i> 
                </div>
                <div class="col">
                    <i class='linkedin fab fa-google-plus'></i>  
                </div>

           </div> 
       </div>
      
   </div>

       
    
      
</div>
